#box{
    width:700px;
    height:320px;
    position: relative;
    margin:40px auto;
    overflow: hidden;
}
#box img{
    width:700px;
    height:320px;
    float: left;
}
#box span{
    width:40px;
    height:80px;
    background: #000;
    border-radius:10px;
    opacity: 0.4;
    color:#fff;
    display: block;
    position: absolute;
    text-align: center;
    line-height: 80px;
    font-size: 26px;

}
#left{
    left:40px;
    top:100px;
}
#right{
    right:40px;
    top:100px;
}